@mixin display-flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.error__message {
    color: red;
    opacity: 1;
    margin-bottom: 1rem;
    transition: font-size .25s,
                margin .25s,
                padding .25s,
                opacity .5s .25s;

    &.hide {
        font-size: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        transition: opacity .25s,
                    font-size .5s .25s,
                    margin .5s .25s,
                    padding .5s .25s;
    }
}